* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* styles.css */

/* Estilos básicos */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

} */


/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {

  .desktop-content {
    display: none;
  }

  .tablet-content {
    display: none;
  }

  .mobile-content {
    display: block;
  }
  
.titulo {
  position: absolute;
  top: 20px;
  left: 70px;
  color: #f061c5;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 11em;
  font-weight: 100;
}


/* Estilos para la imagen */
.imagen-derecha {
  position: absolute; /* Posición absoluta */
  top: 0; /* Alínea en la parte superior */
  right: 0; /* Alínea a la derecha */
  width: 20px; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
}

  .desktop-content {
    display: none;
  }

  .tablet-content {
    display: none;
  }

  .mobile-content {
    display: block;
  }
}


/* Estilos específicos para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {

  .desktop-content {
    display: none;
  }
  
  .tablet-content {
    display: block;
  }

  .mobile-content {
    display: none;
  }

    
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-image: url(../img/fondo.solo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; /* Usa flexbox para centrar el contenido */
    flex-direction: column; /* Cambia a row si quieres alineación horizontal */
    align-items: center; /* Centra el contenido horizontalmente */
    min-height: 100vh;
  }

.titulo {
  position: absolute;
  top: 80px;
  left: 60px;
  color: #f061c5;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 5em;
  font-weight: 150;
}

/* Estilos para la imagen */
.imagen-izquierda {
  position: absolute; /* Posición absoluta */
  top: 0; /* Alínea en la parte superior */
  left: 0; /* Alínea a la izquierda */
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo para la imagen */
.imagen-izquierda-mano {
  position: relative;
    width: 100%; /* Ajusta el ancho del contenedor */
    height: 100%;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centra el contenido verticalmente */
    max-width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
    position: absolute;
    left: 0;
    top: 29%;
    transform: translateY(-50%);
}

/* Estilos para la imagen */
.imagen-derecha {
  position: absolute; /* Posiciona la imagen de forma absoluta */
  top: 0; /* Alinea la imagen al borde superior */
  right: 0; /* Alinea la imagen al borde derecho */
  margin: 10px; /* Opcional: agrega margen alrededor de la imagen */
  max-width: 260px; /* Ajusta el tamaño de la imagen */

}


.imagen-derecha-abajo {
  bottom: 0; /* Pegado al borde inferior */
  right: 2px; /* Pegado al borde derecho */
  width: auto; /* Ajusta el ancho automático */
  height: auto; /* Ajusta la altura automática */
  max-width: 180px; /* Establece el tamaño máximo de la imagen */
}

.slogan {
  color: black;
  font-family: "Cookie", cursive;
  font-size: 2em;
  font-weight: 200;
  margin-left: -50px;
  margin-top: 100px;
  margin-bottom: 90px;
}

.slogan2 {
  color: black;
  font-family: "Cookie", cursive;
  font-size: 2em;
  font-weight: 200;
  margin-right: -240px;
  margin-top: -50px;
}


.order-button {
  color: white;
  font-size: 24px; /* Aumenta el tamaño de la letra */

  /* Action Row / Single Actions */
  width: 308px;
  height: 44px;
  left: 268px;
  top: 936px;
  /*  */
  background: linear-gradient(0deg, #FB78F5, #FB78F5), #FB78F5;
  box-shadow: 0px 4px 4px #FB78F5;
  border-radius: 48px;
  border: none; /* Quita el borde */
  transform: translateY(-50px);
}


.menu-icon {
  position: absolute;
  width: 14px;
  height: 16px;
  right: 50px; /* Alinea la imagen al borde derecho */
  top: 9px;
  font-size: 45px;
  cursor: pointer;
  z-index: 1; /* Asegurar que el header quede encima de la imagen de fondo */
}

}

/* Estilos específicos para pantallas grandes (escritorios) */
@media (min-width: 1024px) {

  
  .desktop-content {
    display: block;
  }

  .tablet-content {
    display: none;
  }

  .mobile-content {
    display: none;
  }
  
body {
  font-family: "Arial, sans-serif";
  background-image: url(../img/fondo.solo.jpg);
  background-size: cover; /* Ajusta la imagen para cubrir todo el área del fondo */
  background-position: center; /* Centra la imagen en el área de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll (opcional) */
  overflow-x: hidden;

}


header, main, footer {
  padding: 20px;
  text-align: center;
}

/* styles.css */

/* Asegúrate de que el contenedor esté posicionado relativamente */
.contenedor {
  position: relative;
  padding: 20px;
}


/* Estilos para la imagen */
.imagen-izquierda {
  position: absolute; /* Posición absoluta */
  top: 0; /* Alínea en la parte superior */
  left: 0; /* Alínea a la izquierda */
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
}


.menu {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 8px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: flex;
  align-items: center;
  margin: 4px 0;
  font-size: 18px;
}

.menu ul li i {
  margin-right: 10px;
}
  

.slogan {
  color: black;
  font-family: "Cookie", cursive;
  font-size: 3em;
  font-weight: 400;
  margin-left: -490px;
}

.slogan2 {
  color: black;
  font-family: "Cookie", cursive;
  font-size: 3em;
  font-weight: 400;
  margin-right: -250px;
}

  
.titulo {
  position: absolute;
  top: 20px;
  left: 70px;
  color: #f061c5;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 11em;
  font-weight: 400;
}


/* Estilos para la imagen */
.imagen-derecha {
  position: absolute; /* Posición absoluta */
  top: 0; /* Alínea en la parte superior */
  right: 0; /* Alínea a la derecha */
  width: 250px; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo para la imagen */
.imagen-izquierda {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
}


.order-button {
  color: white;
  font-size: 24px; /* Aumenta el tamaño de la letra */

  /* Action Row / Single Actions */
  width: 308px;
  height: 44px;
  left: 268px;
  top: 936px;
  /*  */
  background: linear-gradient(0deg, #FB78F5, #FB78F5), #FB78F5;
  box-shadow: 0px 4px 4px #FB78F5;
  border-radius: 48px;
  border: none; /* Quita el borde */

}

.order-button:hover {
    background-color: #ff3399;
}

/* Estilo para la imagen */
.imagen-izquierda-mano {
  position: relative;
    width: 100%; /* Ajusta el ancho del contenedor */
    height: 100%;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centra el contenido verticalmente */
    max-width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.imagen-derecha-abajo {
  position: absolute; /* Asegura que el posicionamiento sea absoluto respecto al contenedor */
  bottom: 0; /* Pegado al borde inferior */
  right: 20px; /* Pegado al borde derecho */
  width: auto; /* Ajusta el ancho automático */
  height: auto; /* Ajusta la altura automática */
  max-width: 200px; /* Establece el tamaño máximo de la imagen */
  max-height: 100%; /* Limita la altura máxima para que la imagen no exceda el contenedor */
}


.menu-icon {
  position: absolute;
  width: 54px;
  height: 56px;
  left: 1280px;
  top: 19px;
  
  font-size: 24px;
  cursor: pointer;
  z-index: 1; /* Asegurar que el header quede encima de la imagen de fondo */

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}


}

