$color_1: white;
$color_2: #f061c5;
$color_3: black;
$color_4: #fff;
$color_5: #333;
$font-family_1: 'Choco Cookie',
sans-serif;
$font-family_2: "Love Ya Like A Sister",
cursive;
$font-family_3: "Cookie",
cursive;
$font-family_4: "Arial, sans-serif";
$background-color_1: #f5f5f5;
$background-color_2: rgba(255, 182, 193, 0.5);
$background-color_3: white;
$background-color_4: #f2f2f2;
$background-color_5: lightblue;
$background-color_6: #0056b3;

/* Estilos específicos para pantallas chicas (mobile) */


/* styles.css */


/* styles.css */


/* styles.css */


/* styles.css */


/* Estilos específicos para pantallas chicas (mobile) */


/* Estilos para la imagen */


/* Estilo para la imagen */


/* Estilos para la imagen */


/* Estilos para la imagen */


/* Estilos específicos para pantallas grandes (escritorios) */

@media (max-width: 767px) {
    .desktop-content {
        display: none;
        display: none;
    }
    .tablet-content {
        display: none;
        display: none;
    }
    .mobile-content {
        display: block;
        display: block;
    }
    body {
        background-image: url(../../img/fondo.solo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url(../../img/fondo.solo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .background-div {
        background-image: url(../../img/fondo.solo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        background-image: url(../../img/fondo.solo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
    }
    .titulo {
        text-align: center;
        font-family: $font-family_1;
        font-size: 45px;
        text-align: center;
        font-family: $font-family_1;
        font-size: 40px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        display: grid;
        gap: 10px;
        padding: 10px;
    }
    .row-background {
        background-color: $background-color_1;
        padding: 10px;
        background-color: $background-color_2;
        padding: 10px;
    }
    .row-content {
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
    }
    .text-container {
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
    }
    .top-text {
        font-size: 1.2em;
        font-weight: bold;
        font-size: 1.2em;
        font-weight: bold;
    }
    .bottom-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        img {
            max-width: 100px;
            height: auto;
            max-width: 100px;
            height: auto;
        }
        .text-center {
            margin-top: 90px;
            text-align: center;
            flex: 1;
            margin-top: 90px;
            text-align: center;
            flex: 1;
        }
        .text-right {
            text-align: right;
            text-align: right;
        }
    }
    .order-button {
        color: $color_1;
        font-size: 19px;
        width: 208px;
        height: 44px;
        left: 268px;
        top: 900px;
        background: linear-gradient(0deg, #FB78F5, #FB78F5), #FB78F5;
        box-shadow: 0px 4px 4px #FB78F5;
        border-radius: 48px;
        border: none;
        transform: translateY(-50px);
        color: $color_1;
        font-size: 19px;
        width: 208px;
        height: 44px;
        left: 268px;
        top: 900px;
        background: linear-gradient(0deg, #FB78F5, #FB78F5), #FB78F5;
        box-shadow: 0px 4px 4px #FB78F5;
        border-radius: 48px;
        border: none;
        transform: translateY(-50px);
    }
    .items-precios {
        font-family: $font-family_1;
        font-size: 22px;
        font-weight: bold;
        font-family: $font-family_1;
        font-size: 22px;
        font-weight: bold;
    }
    .table-mobile {
        width: 500px;
        height: 200px;
    }
    .titulo-crem {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10px;
        padding: 20px 10px 10px 10px;
    }
    .hel-crem {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .hamburger-icon {
        position: absolute;
        right: 0;
        font-size: 24px;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .desktop-content {
        display: none;
    }
    .tablet-content {
        display: block;
    }
    .mobile-content {
        display: none;
    }
    html {
        overflow-y: hidden;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }
    body {
        overflow-y: hidden;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        font-family: $font-family_4;
        background-image: url(../../img/fondo.solo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
    }
    .menu-mobile {
        width: 150px;
        padding: 10px;
        margin-top: -70px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            font-size: 12px;
            margin: 5px 0;
            display: flex;
            align-items: center;
        }
        i {
            margin-right: 5px;
        }
    }
    .titulo {
        position: absolute;
        top: 5px;
        left: 80px;
        color: $color_2;
        font-family: $font-family_2;
        font-size: 2em;
        font-weight: 40;
    }
    .imagen-izquierda {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: auto;
    }
    .imagen-izquierda-mano {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 90px;
        height: auto;
        position: absolute;
        left: 0;
        top: 19%;
        transform: translateY(10%);
    }
    .imagen-derecha-mobile {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        max-width: 100px;
    }
    .imagen-derecha-abajo-mobile {
        bottom: 0;
        right: 2px;
        height: auto;
        max-width: 100px;
        float: right;
        margin-left: 10px;
        margin-top: -100px;
        width: auto;
    }
    .slogan-mobile {
        color: $color_3;
        font-family: $font-family_3;
        font-size: 2em;
        font-weight: 200;
        margin-left: 40px;
        margin-top: 100px;
        margin-bottom: 90px;
        transform: translateX(40px);
    }
    .slogan2-mobile {
        color: $color_3;
        font-family: $font-family_3;
        font-size: 2em;
        font-weight: 200;
        margin-right: -240px;
        margin-top: -50px;
        transform: translateX(100px);
    }
    .slogan-content {
        transform: translateY(-90px);
    }
    .menu-icon {
        position: absolute;
        width: 14px;
        height: 16px;
        right: 30px;
        top: 9px;
        font-size: 25px;
        cursor: pointer;
        z-index: 1;
    }
    .white-background {
        background-color: $background-color_3;
        border: none;
        width: 100%;
        height: 100%;
        transform: translateY(-100px);
    }
    .container {
        margin-top: 1px;
    }
    .half {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: none;
        margin: 0 auto;
        &:first-child {
            border-bottom: 2px solid black;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        background-color: $background-color_4;
    }
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    .short-div {
        height: 100px;
    }
    .image-container-s {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            width: 100%;
            height: auto;
            display: block;
        }
        width: 100%;
        padding: 10px 0;
    }
    .full-width {
        width: 100%;
        background-color: $background-color_5;
        padding: 20px;
        box-sizing: border-box;
    }
    .text-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        font-weight: bold;
        span {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
        }
    }
    .order-button {
        margin-top: 90px;
        padding: 10px 20px;
        font-size: 12px;
        color: $color_4;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        color: $color_1;
        font-size: 24px;
        width: 308px;
        height: 44px;
        left: 268px;
        top: 936px;
        background: linear-gradient(0deg, #FB78F5, #FB78F5), #FB78F5;
        box-shadow: 0px 4px 4px #FB78F5;
        border-radius: 48px;
        &:hover {
            background-color: $background-color_6;
        }
    }
    .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    .boton-pedir-desktop {
        margin-top: 200px;
    }
    .image-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        .image-small {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 100%;
                width: 50px;
                display: block;
            }
        }
        .image-large {
            flex: 3;
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
    .imagen-derecha {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: auto;
    }
    .contenedor-listado {
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }
    .titulo-crem {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        color: $color_5;
        margin-bottom: 100px;
        font-size: 26px;
        font-weight: bold;
    }
    .lista-helados {
        list-style: none;
        padding: 0;
        li {
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: bold;
        }
    }
    .imagen {
        margin-left: auto;
        position: relative;
        left: 200px;
        width: 10%;
        height: auto;
    }
    .imagen-izquierda-abajo {
        display: block;
        padding-right: 2000px;
    }
}

@media (min-width: 1024px) {
    .desktop-content {
        display: block;
    }
    .tablet-content {
        display: none;
    }
    .mobile-content {
        display: none;
    }
    .contenedor-listado {
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }
    h2 {
        color: $color_5;
        margin-bottom: 20px;
        font-size: 65px;
        font-weight: bold;
    }
    .lista-helados {
        list-style: none;
        padding: 0;
        margin-top: -140px;
        li {
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: bold;
        }
    }
    .imagen {
        margin-left: auto;
        position: relative;
        left: 200px;
        width: 190%;
        height: auto;
    }
    .imagen-izquierda-abajo {
        display: block;
        padding-right: 2000px;
    }
    .helado-copa {
        display: flex;
        justify-content: flex-end;
        height: 30vh;
    }
}