$color_1: #f061c5;
$color_2: black;
$color_3: #fff;
$color_4: white;
$font-family_1: "Love Ya Like A Sister",
cursive;
$font-family_2: "Cookie",
cursive;
$font-family_3: "Arial, sans-serif";
$background-color_1: white;
$background-color_2: #f2f2f2;
$background-color_3: lightblue;
$background-color_4: #0056b3;
$background-color_5: #ff3399;
$background-color_6: #333;

/* styles.css */


/* Estilos básicos */


/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

} */


/* Estilos específicos para pantallas chicas (mobile) */


/* Estilos para la imagen */


/* Estilo para la imagen */


/* Estilos para la imagen */


/* Estilos para la imagen */


/* Estilos específicos para pantallas grandes (escritorios) */


/* styles.css */


/* Asegúrate de que el contenedor esté posicionado relativamente */


/* Estilos para la imagen */


/* 
.menu {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 8px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: flex;
  align-items: center;
  margin: 4px 0;
  font-size: 18px;
}

.menu ul li i {
  margin-right: 10px;
} */


/* Estilos para la imagen */


/* Estilo para la imagen */


/* Estilo para la imagen */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 10px) and (max-width: 1023px) {
    .desktop-content {
        display: none;
    }
    .tablet-content {
        display: block;
    }
    .mobile-content {
        display: block;
    }
    html {
        overflow-y: hidden;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }
    body {
        overflow-y: hidden;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        font-family: $font-family_3;
        background-image: url(../../img/fondo.solo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
    }
    .menu-mobile {
        width: 150px;
        padding: 10px;
        margin-top: -70px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            font-size: 12px;
            margin: 5px 0;
            display: flex;
            align-items: center;
        }
        i {
            margin-right: 5px;
        }
    }
    .titulo {
        position: absolute;
        top: 60px;
        left: 50px;
        color: $color_1;
        font-family: $font-family_1;
        font-size: 4em;
        font-weight: 40;
    }
    .imagen-izquierda {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: auto;
    }
    .imagen-izquierda-mano {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 90px;
        height: auto;
        position: absolute;
        left: 0;
        top: 19%;
        transform: translateY(10%);
    }
    .imagen-derecha-mobile {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        max-width: 100px;
    }
    .imagen-derecha-abajo-mobile {
        bottom: 0;
        right: 2px;
        height: auto;
        max-width: 100px;
        float: right;
        margin-left: 10px;
        margin-top: -100px;
        width: auto;
    }
    .slogan-mobile {
        color: $color_2;
        font-family: $font-family_2;
        font-size: 2em;
        font-weight: 200;
        margin-left: 40px;
        margin-top: 100px;
        margin-bottom: 90px;
        transform: translateX(40px);
    }
    .slogan2-mobile {
        color: $color_2;
        font-family: $font-family_2;
        font-size: 2em;
        font-weight: 200;
        margin-right: -240px;
        margin-top: -50px;
        transform: translateX(100px);
    }
    .slogan-content {
        transform: translateY(-90px);
    }
    .menu-icon {
        position: absolute;
        width: 14px;
        height: 16px;
        right: 30px;
        top: 9px;
        font-size: 25px;
        cursor: pointer;
        z-index: 1;
    }
    .white-background {
        background-color: $background-color_1;
        border: none;
        width: 100%;
        height: 100%;
        transform: translateY(-100px);
    }
    .container {
        margin-top: 1px;
    }
    .half {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: none;
        margin: 0 auto;
        &:first-child {
            border-bottom: 2px solid black;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        background-color: $background-color_2;
    }
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    .short-div {
        height: 100px;
    }
    .image-container-s {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            width: 100%;
            height: auto;
            display: block;
        }
        width: 100%;
        padding: 10px 0;
    }
    .full-width {
        width: 100%;
        background-color: $background-color_3;
        padding: 20px;
        box-sizing: border-box;
    }
    .text-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        font-weight: bold;
        span {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
        }
    }
    .order-button {
        margin-top: 90px;
        padding: 10px 20px;
        font-size: 12px;
        color: $color_3;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        color: $color_4;
        font-size: 24px;
        width: 308px;
        height: 44px;
        left: 268px;
        top: 936px;
        background: linear-gradient(0deg, #FB78F5, #FB78F5), #FB78F5;
        box-shadow: 0px 4px 4px #FB78F5;
        border-radius: 48px;
        &:hover {
            background-color: $background-color_4;
        }
    }
    .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    .boton-pedir-desktop {
        margin-top: 200px;
    }
    .image-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        .image-small {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 100%;
                width: 50px;
                display: block;
            }
        }
        .image-large {
            flex: 3;
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
    .imagen-derecha {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .desktop-content {
        display: block;
    }
    .tablet-content {
        display: none;
    }
    .mobile-content {
        display: none;
    }
    body {
        font-family: $font-family_3;
        background-image: url(../../img/fondo.solo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
    }
    header {
        padding: 20px;
        text-align: center;
    }
    main {
        padding: 20px;
        text-align: center;
    }
    footer {
        padding: 20px;
        text-align: center;
    }
    .contenedor {
        position: relative;
        padding: 20px;
    }
    .imagen-izquierda {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: auto;
        width: 100px;
        height: auto;
    }
    .slogan {
        color: $color_2;
        font-family: $font-family_2;
        font-size: 3em;
        font-weight: 400;
        margin-left: -490px;
        color: $color_2;
        font-family: $font-family_2;
        font-size: 2em;
        font-weight: 200;
        margin-left: 150px;
        margin-top: 100px;
        margin-bottom: 90px;
    }
    .slogan2 {
        color: $color_2;
        font-family: $font-family_2;
        font-size: 3em;
        font-weight: 400;
        margin-right: -250px;
        color: $color_2;
        font-family: $font-family_2;
        font-size: 2em;
        font-weight: 200;
        margin-left: 250px;
        margin-top: -50px;
    }
    .titulo {
        position: absolute;
        top: 20px;
        left: 70px;
        color: $color_1;
        font-family: $font-family_1;
        font-size: 11em;
        font-weight: 400;
    }
    .imagen-derecha {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: auto;
    }
    .order-button {
        color: $color_4;
        font-size: 24px;
        width: 308px;
        height: 44px;
        left: 268px;
        top: 936px;
        background: linear-gradient(0deg, #FB78F5, #FB78F5), #FB78F5;
        box-shadow: 0px 4px 4px #FB78F5;
        border-radius: 48px;
        border: none;
        &:hover {
            background-color: $background-color_5;
        }
    }
    .imagen-izquierda-mano {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 200px;
        height: auto;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .imagen-derecha-abajo {
        position: absolute;
        bottom: 0;
        right: 20px;
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 100%;
    }
    .menu-icon {
        position: absolute;
        width: 54px;
        height: 56px;
        left: 1280px;
        top: 19px;
        font-size: 24px;
        cursor: pointer;
        z-index: 1;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: $background-color_6;
        color: $color_4;
    }
    .center-button-desk {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
    }
}